Source: python-ck
Section: python
Priority: optional
Maintainer: Grigori Fursin <Grigori.Fursin@cTuning.org>
Homepage: http://github.com/ctuning/ck
Build-Depends: debhelper (>= 7),
               python-all (>= 2.6.6-3~),
               python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: python-ck
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: preparing and sharing experimental setups as reusable components
 Collective Knowledge Framework (CK) is used
 to decompose complex experimental setups into unified
 and reusable components with simple JSON API and
 meta-description shared via GitHub or any other web
 service. CK can complement Docker and Virtual Machines
 while letting reseachers researchers quickly prototype
 new ideas from shared components as LEGO(TM). As
 a side effect, CK also helps create reproducible and
 interactive articles. Full documentation and examples
 are available at https://github.com/ctuning/ck/wiki
 and http://cknowledge.org/repo
