Source: ck
Section: python
Priority: optional
Maintainer: Grigori Fursin, <Grigori.Fursin@cTuning.org>
Build-Depends: debhelper (>= 7),
               python (>= 2.6.6-3~)
Standards-Version: 3.9.2
X-Python-Version: >= 2.6


Package: ck
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
Description: enabling collaborative research and experimentation
 .
 Collective Knowledge (CK) is a light-weight, portable,
 plugin-based framework,repository, web service and SDK
 for collaborative knowledge management and exchange.
 .
 CK helps users preserve, organize, describe, cross-link and share
 their code, data and experimental results as reusable
 Python-based components with a unified API and JSON-based
 schema-free meta description.
 .
 All components can be transparently indexed and searched via
 ElasticSearch, shared via GIT, and connected together into
 pipelines (workflows) just as LEGO(R) to quickly prototype
 various research ideas, crowdsource experiments, reproduce 
 past results, perform statistical analysis and apply predictive 
 analytics (as described in http://hal.inria.fr/hal-01054763).
 .
 Further info available at http://github.com/ctuning/ck/wiki
