export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEJH//////////wEafyhbXdlc3QtMiJGMEQCIBulUe3NOGrPDkxmCHXnwBxddgbbaj2rH94tpgMfwmKdD50CR6eKjh5+iea2w+9EUWaZEW4G0CN06JWFEIX2v0k2SLkXODVoG7MAWLMFWuBsssrWfLIRoVc9AODQodivdsGUOYWzqFRQ8HKbDjm+DSX05GjObwuucohkvWZZ3LmkspXQ1sOoaC62GcIcJuhp3pR/ajZ8iASLTIBFhcP8nuif+aDMO6HVRgQ9D60BJtqlPCzQH3bY/KKK9iQHQstcVsw17ne5bcnBgfdVOxFKxbuivkQ1CitxHko86z9gsaalEVxspcAwbRnMQuldi3win09ny8qUtWYqA+wEtc2n5ZPFS4UhF0RyE0IYy7dfrCnWdmv0elBRcfAZ0wQNNbt8iUoUYI1+stQexwHYJOtzLqvzoLLWwqrxwPaIEUZFposB2tJAV+krBq7ueIw50AJa8XKgjn5dTvFTaX4rYWh9ck7i7Q4xiq2CcQRArMRUkJRTCs8f+aBjqnAT7n+GhH7alJzRSjXSJ8Ln3t2KlzkPrraspoy5xqH61+yf5tRE2p511PiK9tl94/r0OCzYo9E0SYYket1TU"
