# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: MLPerf inference retinanet

on:
  pull_request:
    branches: [ "master", "dev" ]
    paths:
      - 'cm-mlops/**'
      - '.github/workflows/test-mlperf-inference-retinanet.yml'
      - '!cm-mlops/**.md'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.12", "3.9" ]
        backend: [ "onnxruntime", "pytorch" ]
        implementation: [ "python", "cpp" ]
        exclude:
          - backend: pytorch
            implementation: cpp

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install cmind
        # cm pull repo --url=${{ github.event.pull_request.head.repo.html_url }} --checkout=${{ github.event.pull_request.head.ref }}
        cm pull repo --url=${{ github.event.pull_request.head.repo.html_url }}
        cm run script --quiet --tags=get,sys-utils-cm
    - name: Test MLPerf Inference Retinanet using ${{ matrix.backend }}
      run: |
        cm run script --tags=run,mlperf,inference,generate-run-cmds,_submission,_short --submitter="cTuning" --hw_name=default --model=retinanet --implementation=${{ matrix.implementation }} --backend=${{ matrix.backend }} --device=cpu --scenario=Offline --test_query_count=5 --adr.compiler.tags=gcc --quiet  -v --target_qps=1
